<div class="root">
  Hello, @yurijs!
  <div @click.self="onPropagation">
    <button @click="++counter">+</button>
    {{counter}}
    <button @click.right="--counter">-</button>
    <input v-for="item in list" @keyup.enter="onKeyupEnter"></input>
  </div>
</div>
